
<div class="row">
  <div class="col-md-7 col-sm-12">
    <div class="table-responsive">
      <table class="table table-striped ">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let vehicle of vehicles">
          <th scope="row">{{ vehicle.id }}</th>
          <td>{{ vehicle.marca }}</td>
          <td>{{ vehicle.linea }}</td>
          <td>{{ vehicle.modelo }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
